// Variables des couleurs 
$pink: #ffd0d6;
$blue: #d2f0ff;
$darkBlue: #3b65cc;
$brown: #b28860;
$gray: #7F686B;

//Variables des fonts

// Roboto: font pour les gros titres !
$title: 'Roboto Condensed', sans-serif;
// Aleo: font pour les sous-titres.
$subtitle: 'Aleo', serif;;
// Muli: font pour les textes.
$text: 'Muli', sans-serif;